.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 20px 0;
    opacity: 0;
    animation: fade-in-down 0.5s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.pagination-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #3dbf94;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 0 40px;
}

