/* Structures */
body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background: #282c34;
    background: linear-gradient(90deg, #282c34 0%, #282c34 50%, #282c34 100%);
}

.container {
    display: flex;
    flex-direction: column;
    color: white;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 50px;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
}

.column {
    display: flex;
    flex-direction: column;
}

.column-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.row {
    display: flex;
    flex-direction: row;
}

.wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

/* Text */
.page-title {
    font-size: 3rem;
}
.fikaText {
    color: #3dbf94;
}

.no-results {
    font-size: 1.5rem;
    margin-top: 20px;
}


/* Animation */
@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showFromFold {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media Queries */
@media (max-width: 1700px) {
    .grid-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1400px) {
    .grid-4 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1100px) {
    .grid-4 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 680px) {
    .grid-4 {
        grid-template-columns: repeat(1, 1fr);
    }

    .filters {
        justify-content: center;
    }
}
